.dt-skin-blue p {
	color: #3e5d62;
}
.dt-skin-kaleidoscope, .dt-skin-kaleidoscope h1 {
	color: #000 !important;	
}
.dt-skin-classical p {
	color: #a49696 !important;	
}
.dt-skin-green p  {
	color: #2A2A2A;
	
}
.dt-skin-classical h1 {
	color: #F98886 !important;
}
.dt-skin-minty {
	color: #3e5d62;
}
.dt-skin-jeans {
	color: #a8a2a2;
}
.dt-skin-jeans h1 {
	color: #ED7E7C !important;
}
.dt-skin-orchid {
	color: #261D1E;
}